

.cambiante {
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    margin: 50px;
}
.texto {
    
    padding: 10px;
    margin: 10px;
    background-color: coral;
}

.texto:hover{
    color: white;
    font-size: 100px;

}

#a:hover{
    position: relative;
    top: -50px;
    left: 50px;
    color: darkgreen;
}
#b:hover{
    position: relative;
    top: -100px;
    left: -50px;
    color: blue;
}

#c:hover{
    position: relative;
    top: 100px;
    left: -200px;
    color: yellow;
}
#d:hover{
    position: relative;
    top: 100px;
    left: 300px;
    color: pink;
}

.cajas {
    display: flex;
    flex-wrap: wrap;

}
.contenedor {
	border: 2px solid black;
	width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenedor2 {
	border: 2px solid black;
	width: 450px;
	height: 450px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.contenedor3 {
    border: 2px solid black;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    }
.caja {
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
    align-items: center;
    
}

.caja1 {
    background-color: red;
}
.caja2 {
    background-color: blue;

}

.caja3{
    background-color: yellow;
}
